@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-Light.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-LightIt.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-It.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-Black.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-BlackIt.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('source-serif-pro/EOT/SourceSerifPro-ExtraLight.eot') format('embedded-opentype'),
         url('source-serif-pro/WOFF/OTF/SourceSerifPro-ExtraLight.otf.woff') format('woff'),
         url('source-serif-pro/OTF/SourceSerifPro-ExtraLight.otf') format('opentype'),
         url('source-serif-pro/TTF/SourceSerifPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('source-serif-pro/EOT/SourceSerifPro-Light.eot') format('embedded-opentype'),
         url('source-serif-pro/WOFF/OTF/SourceSerifPro-Light.otf.woff') format('woff'),
         url('source-serif-pro/OTF/SourceSerifPro-Light.otf') format('opentype'),
         url('source-serif-pro/TTF/SourceSerifPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('source-serif-pro/EOT/SourceSerifPro-Regular.eot') format('embedded-opentype'),
         url('source-serif-pro/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
         url('source-serif-pro/OTF/SourceSerifPro-Regular.otf') format('opentype'),
         url('source-serif-pro/TTF/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('source-serif-pro/EOT/SourceSerifPro-Semibold.eot') format('embedded-opentype'),
         url('source-serif-pro/WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff'),
         url('source-serif-pro/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
         url('source-serif-pro/TTF/SourceSerifPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('source-serif-pro/EOT/SourceSerifPro-Bold.eot') format('embedded-opentype'),
         url('source-serif-pro/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
         url('source-serif-pro/OTF/SourceSerifPro-Bold.otf') format('opentype'),
         url('source-serif-pro/TTF/SourceSerifPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('source-serif-pro/EOT/SourceSerifPro-Black.eot') format('embedded-opentype'),
         url('source-serif-pro/WOFF/OTF/SourceSerifPro-Black.otf.woff') format('woff'),
         url('source-serif-pro/OTF/SourceSerifPro-Black.otf') format('opentype'),
         url('source-serif-pro/TTF/SourceSerifPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('source-Code-pro/EOT/SourceCodePro-ExtraLight.eot') format('embedded-opentype'),
         url('source-Code-pro/WOFF/OTF/SourceCodePro-ExtraLight.otf.woff') format('woff'),
         url('source-Code-pro/OTF/SourceCodePro-ExtraLight.otf') format('opentype'),
         url('source-Code-pro/TTF/SourceCodePro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('source-Code-pro/EOT/SourceCodePro-Light.eot') format('embedded-opentype'),
         url('source-Code-pro/WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff'),
         url('source-Code-pro/OTF/SourceCodePro-Light.otf') format('opentype'),
         url('source-Code-pro/TTF/SourceCodePro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('source-Code-pro/EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('source-Code-pro/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
         url('source-Code-pro/OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('source-Code-pro/TTF/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('source-Code-pro/EOT/SourceCodePro-Semibold.eot') format('embedded-opentype'),
         url('source-Code-pro/WOFF/OTF/SourceCodePro-Semibold.otf.woff') format('woff'),
         url('source-Code-pro/OTF/SourceCodePro-Semibold.otf') format('opentype'),
         url('source-Code-pro/TTF/SourceCodePro-Semibold.ttf') format('truetype');
}
