// Common variables to define font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

.DocumentPreview {
  /* Remove the margin of the first and last elements */
  & > *:first-child {
    margin-top: 0 !important;
  }
  & > *:last-child {
    margin-bottom: 0 !important;
  }
  p:empty {
    // Hide empty paragraphs to prevent unnecessary margins
    display: none;
  }
}

/*
 * Styles for the typography of a document (note).
 * Based on Ródão, a minimalist theme for Ghost.
 */
.DocumentPreview-default {
  // Base styles
  font-family: Source Serif Pro, serif;
  color: #000;

  // We use these as default color throughout
  $grey: #efefef;

  // This is a matter of taste and can be safely removed
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    line-height: 1;
    margin-top: 0;
  }

  h1 {
    font-size: 2.25em;
    letter-spacing: -1px;
    line-height: 1.2em;
    text-indent: -1px;
  }

  h2 {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1.2em;
    text-indent: -1px;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.25em;
  }

  h6 {
    font-size: 1em;
  }

  a {
    border-bottom: 1px solid;
    color: inherit;
    text-decoration: none;
    word-wrap: break-word;
  }

  hr {
    border: 0;
    border-top: 1px solid $grey;
    display: block;
    height: 1px;
    margin: 3.2em auto;
    padding: 0;
    width: 50%;
  }

  p, ul, ol, dl {
    margin: 1.6em 0;
  }

  ol ol, ul ul,
  ul ol, ol ul {
    margin: 0.4em 0;
  }

  blockquote {
    border-left: $grey 0.4em solid;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2em;
    padding: 0 0 0 1.6em;
  }

  blockquote p {
    font-style: italic;
    margin: 0.8em 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  strong {
    -webkit-font-smoothing: initial;
    font-weight: $font-weight-semibold;
  }

  pre, code, tt {
    font-family: Source Code Pro, monospace, sans-serif;
  }

  code, tt {
    border: 1px solid $grey;
    font-size: 0.85em;
    padding: 1px 3px;
  }

  pre {
    border: 1px solid $grey;
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 1.6em 0;
    overflow: auto;
    padding: 10px;
    width: 100%;
  }

  pre code, tt {
    background: transparent;
    border: none;
    font-size: inherit;
    padding: 0;
  }
}

/*
 * Styles for the excerpt that is displayed in the board.
 * Defines smaller typography, smaller vertical margins, etc.
 */
.DocumentPreview-excerpt {
  $base-height: rem-calc(20);

  // Base properties
  font-size: rem-calc(14);
  line-height: $base-height;

  /* Headings */

  h1, h2, h3, h4, h5, h6 {
    line-height: $base-height;
    margin: 0;

    // Truncate content if necessary
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  h1, h2 {
    font-size: rem-calc(16);
    -webkit-line-clamp: 2;

    // The combination of these two keeps vertical rhythm for both 1 and 2 lines
    margin-bottom: $base-height;
    margin-top: 0;
  }
  h1 {
    font-weight: $font-weight-bold;
  }
  h2 {
    font-weight: $font-weight-semibold;
  }
  h3, h4, h5, h6 {
    font-weight: $font-weight-semibold;
    font-size: rem-calc(14);
    -webkit-line-clamp: 1;
  }
  h4, h5, h6 {
    font-size: rem-calc(12);
    text-transform: uppercase;
  }
  h1 + h1,
  h1 + h2,
  h2 + h2 {
    margin-top: -$base-height/2;
    margin-bottom: $base-height/2;
  }

  /* Others */

  p {
    margin-top: 0;
    margin-bottom: $base-height;
  }
  blockquote {
    margin: $base-height;
    margin-right: 0;
  }
  pre {
    margin: $base-height 0;
  }
  hr {
    border: none;
    border-bottom: 1px solid;
    margin: $base-height/2 auto;
    width: 20%;
  }
  p + hr {
    // Try to keep the vertical rhythm
    margin-top: -1 * ($base-height/2 + rem-calc(1));
  }
  & > p:only-child {
    // If there is only one paragraph, make the text slightly bigger
    font-size: rem-calc(16);
  }

  /* Remove common styles (for a less distracting look) */

  strong {
    font-weight: normal;
  }
  em {
    font-style: normal;
  }
  s {
    text-decoration: none;
  }
  pre, code {
    font-family: inherit;
  }
}
